<a href="https://colab.research.google.com/github/Souza172890/Python/blob/main/Teste_Atmos3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando biblioteca

In [1]:
import pandas as pd

## Carregando dados

In [2]:
df = pd.read_excel('ACOMPH_12.05.2020.xlsx')
#df.head(5)

## Clonando dataframe original

In [3]:
df_clone = df[:]

## Filtrando dados referente ao posto de interesse para criação de uma novo dataframe

In [4]:
#filtrando dados referente ao posto de interesse para criação de uma novo dataframe
df1 = df_clone.loc[4:33,['Unnamed: 0','Posto',1]]
df1['Unnamed: 0'] =  pd.to_datetime(df1['Unnamed: 0'])
df1['Nom_Posto'] = df['Unnamed: 1'][0]
df1['Num_Posto'] = df.columns[8]
df1 = df1.rename(columns={'Unnamed: 0': 'Data','Posto':'Vazão_Incremental_Consolidada',1:'Vazão_Natural_Consolidada'})
#df1

## Criando o segundo dataframe

In [5]:
df2 = df_clone.loc[4:33,['Unnamed: 0','Posto.12',211]]
df2['Unnamed: 0'] =  pd.to_datetime(df2['Unnamed: 0'])
df2['Nom_Posto'] = df['Unnamed: 9'][0]
df2['Num_Posto'] = df.columns[16]
df2 = df2.rename(columns={'Unnamed: 0': 'Data','Posto.12':'Vazão_Incremental_Consolidada',211:'Vazão_Natural_Consolidada'})
#df2

## Concatenando os 2 dataframes

In [6]:
result = pd.concat([df1, df2], axis=0)
result

,Data,Vazão_Incremental_Consolidada,Vazão_Natural_Consolidada,Nom_Posto,Num_Posto
4,2020-04-12,99.500744,99.500744,CAMARGOS,1
5,2020-04-13,103.38407,103.38407,CAMARGOS,1
6,2020-04-14,98.10537,98.10537,CAMARGOS,1
7,2020-04-15,92.843218,92.843218,CAMARGOS,1
8,2020-04-16,90.778331,90.778331,CAMARGOS,1
9,2020-04-17,88.991204,88.991204,CAMARGOS,1
10,2020-04-18,87.017476,87.017476,CAMARGOS,1
11,2020-04-19,84.960835,84.960835,CAMARGOS,1
12,2020-04-20,83.489887,83.489887,CAMARGOS,1
13,2020-04-21,82.232626,82.232626,CAMARGOS,1
14,2020-04-22,81.053947,81.053947,CAMARGOS,1
15,2020-04-23,79.847079,79.847079,CAMARGOS,1
16,2020-04-24,78.761306,78.761306,CAMARGOS,1
17,2020-04-25,77.772651,77.772651,CAMARGOS,1
18,2020-04-26,76.380058,76.380058,CAMARGOS,1
19,2020-04-27,75.136922,75.136922,CAMARGOS,1
20,2020-04-28,74.200961,74.200961,CAMARGOS,1
21,2020-04-29,73.521252,73.521252,CAMARGOS,1
22,2020-04-30,72.432417,72.432417,CAMARGOS,1
23,2020-05-01,71.105103,71.105103,CAMARGOS,1
24,2020-05-02,70.525061,70.525061,CAMARGOS,1
25,2020-05-03,69.73104,69.73104,CAMARGOS,1
26,2020-05-04,68.805304,68.805304,CAMARGOS,1
27,2020-05-05,68.298582,68.298582,CAMARGOS,1
28,2020-05-06,67.590558,67.590558,CAMARGOS,1
29,2020-05-07,67.03477,67.03477,CAMARGOS,1
30,2020-05-08,66.97302,66.97302,CAMARGOS,1
31,2020-05-09,66.110767,66.110767,CAMARGOS,1
32,2020-05-10,64.977018,64.977018,CAMARGOS,1
33,2020-05-11,64.577885,64.577885,CAMARGOS,1
4,2020-04-12,325.389049,284.256808,FUNIL-GRANDE,211
5,2020-04-13,315.277006,287.209349,FUNIL-GRANDE,211
6,2020-04-14,306.904822,284.453571,FUNIL-GRANDE,211
7,2020-04-15,305.714906,278.338215,FUNIL-GRANDE,211
8,2020-04-16,307.26676,271.308159,FUNIL-GRANDE,211
9,2020-04-17,308.544314,263.452293,FUNIL-GRANDE,211
10,2020-04-18,304.951439,253.679849,FUNIL-GRANDE,211
11,2020-04-19,300.105562,243.762446,FUNIL-GRANDE,211
12,2020-04-20,296.276665,236.29243,FUNIL-GRANDE,211
13,2020-04-21,289.524095,230.607588,FUNIL-GRANDE,211
14,2020-04-22,283.038694,225.922514,FUNIL-GRANDE,211
15,2020-04-23,276.74713,220.349575,FUNIL-GRANDE,211
16,2020-04-24,273.47099,215.854205,FUNIL-GRANDE,211
17,2020-04-25,270.885269,211.617298,FUNIL-GRANDE,211
18,2020-04-26,266.255877,207.121024,FUNIL-GRANDE,211
19,2020-04-27,259.838207,202.538942,FUNIL-GRANDE,211
20,2020-04-28,253.694872,198.229904,FUNIL-GRANDE,211
21,2020-04-29,249.075003,194.438658,FUNIL-GRANDE,211
22,2020-04-30,244.60478,191.565692,FUNIL-GRANDE,211
23,2020-05-01,239.646989,188.462813,FUNIL-GRANDE,211
24,2020-05-02,235.009807,184.005767,FUNIL-GRANDE,211
25,2020-05-03,232.533418,181.649327,FUNIL-GRANDE,211
26,2020-05-04,230.75123,180.440595,FUNIL-GRANDE,211
27,2020-05-05,228.68628,178.528465,FUNIL-GRANDE,211
28,2020-05-06,226.484732,177.164304,FUNIL-GRANDE,211
29,2020-05-07,223.376769,175.401898,FUNIL-GRANDE,211
30,2020-05-08,220.068775,174.740975,FUNIL-GRANDE,211
31,2020-05-09,216.92871,174.774981,FUNIL-GRANDE,211
32,2020-05-10,214.287468,173.385981,FUNIL-GRANDE,211
33,2020-05-11,211.281917,171.355126,FUNIL-GRANDE,211

## Bom, a ideia aqui é criar vários datafames e concatenar todos, depois criar um banco de dados em SQL e inserir essas informações, isso para cada sheets. A primeira pasta de planilhas seria mais demorada, mas depois, se as outras pastas excels tivessem o mesmo tamanho, daria pra eutomatizar.